* {
  margin: 0 auto;
  /* background-color: #E1DDD4; */
}

img {
  display: block;
  /* max-width: 100%; */
  height: auto;

}

div {
  margin: 0;
  padding: 0;
}

.wrapper {
  /* overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column; */
}


.page {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  /* color: #E1DDD4; */
}

.Wilderness__subject {
  display: flex;
  margin-top: 140px;
}

.did__img {
  width: 600px;
  margin-right: 85px;
}

.Wilderness__title-p {
  color: #333841;
  font-size: 48px;
  font-weight: 400;
  font-family: Roboto;

}

.Wilderness__title-p2 {
  color: #333841;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  margin-top: 20px;
}

.Wilderness__title-p3 {
  color: #333841;
  font-size: 24px;
  font-weight: 400;
  font-family: Roboto;
  margin-top: 55px;
}

.Wilderness__title-p4 {
  color: #333841;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  margin-top: 35px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */



.Animal {
  margin-top: 180px;
}

.Animal__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: 80px;
}

.Animal__list {
  border: 1px solid;
  flex-basis: calc(100% / 3 - 20px);
  margin-top: 20px;
}

.Animal__current {
  display: flex;
  justify-content: space-between;
}

.Animal__subject {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  margin: 15px auto 5px 10px;
}


.Animal__text {
  color: #333841;
  font-size: 15px;
  font-weight: 300;
  font-family: Roboto;
  margin: 15px auto 5px 15px;
}

.Animal__icon {
  margin: 10px 10px 15px auto;
}


.Animal__btn {
  width: 300px;
  height: 55px;
  background-color: #FE9013;
  border: 1px solid;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.Animal__btn-text {
  margin: auto;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */